IDH_AZURE/
modules_oneidentity/
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
.venv/
venv/
env/
ENV/
build/
dist/
site/
*.egg
*.egg-info/
.eggs/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.ipynb_checkpoints/

# Terraform
.terraform/
**/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
*.tfplan
.terragrunt-cache/
